body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e7a97;
}

.clock {
  width: 400px; 
  height: 400px; 
  border: 20px solid; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 66px; 
  color: #fff;
  background-color: #34495e; 
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute; 
}

.hour-hand {
  width: 8px; 
  height: 80px; 
  transform-origin: bottom center;
}

.minute-hand {
  width: 6px; 
  height: 120px; 
  transform-origin: bottom center;
}

.second-hand {
  width: 4px; 
  height: 140px; 
  transform-origin: bottom center;
}

